.unauthorizedAlertContainer {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #444444CC;
}

.unauthorizedAlertInnerContainer {
    top: 15%;
    background-color: white;
}

.unauthorizedAlertText {
    width: 100%;
    text-align: center;
    padding-top: 20pt;
}

.unauthorizedAlertButton {
    width: 20%;
    margin-left: 40%;
    margin-top: 20pt;
    margin-bottom: 20pt;
}