.reserveTicketSeatContainer {
    margin-top: 20px;
}

.reserveTicketSeatRow {
    text-align: justify-all;
    width: 100%;
    justify-content: center;
}

.reserveTicketButtonContainer {
    margin-top: 20px;
    justify-content: center;
    padding-bottom: 20px;
}

.reserveTicketButton {
    text-align: center;
}

.auditoriumContainer {
    max-height: 80%;
}