.userDataContainer{
    width: 40%;
    margin-left: 5%;
    background-color: var(--background);
}

.userDataPageTitle{
    color: var(--headerText);
    font-size: 20px;
    width: 100%;
    text-align: center;
    font-weight: bolder;
}

.userDataErrorMessage{
    margin-left: 5%;
    color: var(--dangerText);
}

.userDataTitleContainer{
    width: 100%;
}

.userDataTitle{
    margin-left: 5%;
    color: var(--subText);
    font-weight: bold;
}

.userDataTitleButton{
    width: 10%;
    float: right;
}

.userDataInput{
    width: 90%;
    margin-left: 5%;
    color: var(--text);
}

.userDataSeparator{
    height: 15px;
    width: 100%;
}