.optionButtonContainer {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.optionButtonInner {
    border-style: solid;
    border-color: var(--background);
    border-radius: 25%;
    border-width: 2px;
    padding: 5px 15px;
    color: var(--headerText);
    font-weight: bolder;
}