.filmElementContainer{
    /*margin: 1pt;*/
    padding: 0pt;
    /*padding-top: 10pt;*/
    /*padding-bottom: 10pt;*/
    margin: 2vh;
    background-color: var(--background);
}
.filmElementBody{
     padding: 1pt;
     /*padding-top: 10pt;*/
     /*padding-bottom: 10pt;*/
     /*margin: 2vh;*/
     background-color: var(--background);
 }

.filmElementDelete{
    width: 1em;
    margin-left: 95%;
    /*margin-top: 0.5rem;*/
}

.filmElementMainText{
    font-size: 20px;
    /*font-weight: bold;*/
    color: var(--subText);
}

.filmElementSecondaryText{
    /*font-size: 14px;*/
    /*font-weight: bold;*/
    margin-top: 5px;
    color: var(--text);
}

.filmElementImage{
    /*width: 70%;*/
    /*margin-left: 15%;*/
}