.filmDetailsContainer {
    background-color: var(--background);
}

.filmDetailsPageTitle {
    color: var(--headerText);
    font-size: 20px;
    width: 100%;
    text-align: center;
    font-weight: bolder;
}

.filmDetailsErrorMessage {
    color: var(--dangerText);
}

.filmDetailsTitleContainer {
    width: 100%;
}

.filmDetailsTitle {
    color: var(--subText);
    font-weight: bold;
}

.filmDetailsTitleButton {
}

.filmInput {
    width: 100%;
    color: var(--text);
}

.filmDetailsSeparator {
    height: 15px;
    width: 100%;
}