.presentationElementContainer {
    margin-bottom: 2.5vh;
    padding: 1rem;
    background-color: var(--background);
}

.presentationElementDelete {
    width: 1rem;
    margin-left: 95%;
    margin-top: -0.5rem;
}

.presentationElementMainText {
    font-size: 14px;
    font-weight: bold;
    color: var(--subText);
}

.presentationElementSecondaryText {
    font-size: 10px;
    margin-top: 5px;
    font-weight: bold;
    color: var(--text);
}

.presentationElementImage {
    width: 70%;
    margin-left: 15%;
}

.presentationElementButtonContainer {
    margin-top: 10px;
    text-align: center;
}
