.presentationElementContainer{

}

.presentationElementDelete{
    width: 10%;
    margin-left: 83%;
    margin-top: 2%;
}

.presentationElementMainText{
    font-size: 14px;
    color: var(--subText);
}

.presentationElementSecondaryText{
    font-size: 10px;
    color: var(--text);
}

.presentationElementImage{
    width: 70%;
    margin-left: 15%;
}