.auditoriumDetailsContainer{
    width: 40%;
    margin-left: 5%;
    background-color: var(--background);
}

.auditoriumDetailsPageTitle{
    color: var(--headerText);
    font-size: 20px;
    width: 100%;
    text-align: center;
    font-weight: bolder;
}

.auditoriumDetailsErrorMessage{
    color: var(--dangerText);
}

.auditoriumDetailsTitleContainer{
    width: 100%;
}

.auditoriumDetailsTitle{
    color: var(--subText);
    font-weight: bold;
}

.auditoriumDetailsTitleButton{
    width: 10%;
    float: right;
}

.auditoriumInput{
    width: 100%;
    color: var(--text);
}

.auditoriumDetailsSeparator{
    height: 15px;
    width: 100%;
}